@import 'tailwindcss';

:root {
  --background: #ffffff;
  --text: #ffffff;
  --foreground: #171717;
  --color-green: #a8ebb4;
  --color-dark-green: #4fb562;
  --color-grey: #8b9aac;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
